/* Variáveis padrão (tema escuro) */
:root {
  --color-bg: rgb(0, 0, 0);
  --color-text: #fff;
  --color-primary: #fff;
}

/* Tema claro */
.light-theme {
  --color-bg: rgb(255, 255, 255);
  --color-text: #000;
  --color-primary: #000;
}

/* Reset básico */
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  transition: background-color 0.3s ease, color 0.3s ease;
}
