/* Variáveis padrão (tema escuro) */
:root {
  --color-bg: rgb(0, 0, 0);
  --color-bg-rgb: 0, 0, 0;
  --color-text: #fff;
  --color-primary: #fff;
  --nav-h: 70px;
}

/* Tema claro */
.light-theme {
  --color-bg: rgb(255, 255, 255);
  --color-bg-rgb: 255, 255, 255;
  --color-text: #000;
  --color-primary: #000;
}

/* Reset básico */
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: var(--color-text);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* quando usar react-scroll, isso resolve o offset ao rolar */
html {
  scroll-padding-top: var(--nav-h);
}

/* wrapper das sections (o Element) reserva espaço sob a navbar */
.section {

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3rem;
  font-weight: bold;
}

@media (max-width: 900px) {
  .section {
    padding-top: calc(var(--nav-h) + 230px);
    box-sizing: border-box;
  }
}